.fragment.blur {
    filter: blur(7px);
}

.fragment.blur.visible {
    filter: blur(0);
    transition: filter 0.8s ease-in-out;
}

.justify-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.justify-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #2EA28A;
    font-weight: 700;
}