.fragment.blur {
    filter: blur(7px);
}

.fragment.blur.visible {
    filter: blur(0);
    transition: filter 0.4s ease-in-out;
}

.fragment.pale-out {
    color: rgba(0, 0, 0, 1.)
}
.fragment.pale-out.visible {
    color: rgba(0, 0, 0, 0.3)!important;
}

.fragment.blur-out {
    filter: blur(0);
    transition: filter 0.4s ease-in-out;
}

.fragment.blur-out.visible {
    filter: blur(7px);
    transition: filter 0.4s ease-in-out;
}

.fragment.blur-in-out {
    filter: blur(0);
    transition: filter 0.4s ease-in-out;
}

.fragment.blur-in-out.current-fragment {
    filter: blur(7px);
    transition: filter 0.4s ease-in-out;
}

.fragment.transparent {
    opacity: 0.3;
}

.fragment.transparent.visible {
    opacity: 1.0;
    transition: filter 0.8s ease-in-out;
}

.fragment.transparent-out {
    opacity: 1.0;
    transition: filter 0.8s ease-in-out;
}

.fragment.transparent-out.visible {
    opacity: 0.3;
    transition: filter 0.8s ease-in-out;
}

.justify-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.justify-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #2EA28A;
    font-weight: 700;
}

.info-box {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid #2EA28A;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 1px 4px 6px #2EA28A;
    padding: 1rem;
}

.pub-frame {
    background-color: #2ea28b0B;
    border: 0.5px solid #2EA28A;
    border-radius: 0px 15px 0px 15px;
    padding: 0.6rem;
    font-size: 0.85rem!important;
}


aside.notes  {
    font-size: 0.5rem;
}

div.slide-number {
    font-size: 16px!important;
}

aside.controls {
    bottom: 30px!important;
}

p.method  {
    color: darkgreen;
}

p.software {
    color: purple;
}