.fragment.blur {
    filter: blur(5px);
}

.fragment.blur.visible {
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}

.justify-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.justify-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}